body{
    font-family:'Times New Roman', Times;
    margin: 5%;
}
footer{
    color:aliceblue
}
form{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}